{% extends 'base.html' %}

{% block title %}Booking - MagisAir{% endblock %}

{% block content %}
  <h2>Booking</h2>

  <!--<form method="get">
    {{ form.as_p }}
    <button type="submit">Filter</button>
  </form>

  <h4>Departures on {{ filter_date|date:"F j, Y" }}</h4>-->

  <table>
    <thead>
      {% for name in column_names %}
        <td>{{ name }}</td>
      {% endfor %}
    </thead>
    {% for instance in booking_content %}
        <tr>
            {% for column, value in instance.items %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
  </table>
{% endblock %}
