{% extends 'base.html' %}

{% block title %}Travel History - MagisAir{% endblock %}

{% block content %}
    <h1>Travel History</h1>
    <h3>{{ history.0.last_name }}, {{ history.0.first_name }} {{ history.0.middle_initial }}.</h3>

    <table>
        <thead>
            <td>Booking ID</td>
            <td>Flight Code</td>
            <td>Origin</td>
            <td>Destination</td>
            <td>Departure Date</td>
        </thead>
        {% for instance in history %}
            <tr>
                <td>{{ instance.booking_id }}</td>
                <td>{{ instance.flight_code }}</td>
                <td>{{ instance.origin }}</td>
                <td>{{ instance.destination }}</td>
                <td>{{ instance.departure_date }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'booking_list'%}">Back</a>
{% endblock %}