{% extends 'base.html' %}

{% block title %}Travel History - MagisAir{% endblock %}

{% block header %} 
    <div class="header">
        <div class="header-left">
            Magis Air
        </div>
        <div class="header-right">
            <a class="active" href="">Booking</a>
            <a href="crew/">Crew</a>
            <a href="routes/">Routes</a>
            <a href="../">Schedule</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class=travel-container>
        <center><h1>Travel History</h1></center>
        
        <div class=name>
            <h3>{{ history.0.last_name }}, {{ history.0.first_name }} {{ history.0.middle_initial }}.</h3>
        </div>

        <table>
            <thead>
                <td>Booking ID</td>
                <td>Flight Code</td>
                <td>Origin</td>
                <td>Destination</td>
                <td>Departure Date</td>
            </thead>
            {% for instance in history %}
                <tr>
                    <td>{{ instance.booking_id }}</td>
                    <td>{{ instance.flight_code }}</td>
                    <td>{{ instance.origin }}</td>
                    <td>{{ instance.destination }}</td>
                    <td>{{ instance.departure_date }}</td>
                </tr>
            {% endfor %}
        </table>

        <br><br>
        <center>
            <a href="{% url 'booking_list'%}">Back</a>
        </center>
    </div>
{% endblock %}