{% extends 'base.html' %}

{% block title %}Crew Schedules - MagisAir{% endblock %}

{% block content %}
  <h2>Crew Schedules</h2>

  <form method="get">
    {{ form.as_p }}
    <button type="submit">Filter</button>
  </form>

  <table>
    <thead>
      {% for name in headers %}
        <td>{{ name }}</td>
      {% endfor %}
    </thead>
    {% for row in rows %}
      <tr>
          <td>{{ row.crew }}</td>
          <td>{{ row.role }}</td>
          <td>{{ row.flight }}</td>
          <td>{{ row.destination }}</td>
          <td>{{ row.departure }}</td>
          <td>{{ row.arrival }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}