<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MagisAir{% endblock %}</title>
    <link rel="stylesheet" href="{% block styles %}{% static '/css/style.css' %}{% endblock %}">
</head>
<body>
    <div class="container">
        <div id="navigation">
            {% block header %}{% endblock %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
