{% extends 'base.html' %}

{% block title %}Routes - MagisAir{% endblock %}
{% block styles %}
{% load static %}
  {% static 'css/routes.css' %}
{% endblock%}

{% block header %} 
    <div class="header">
        <div class="header-left">
            Magis Air
        </div>
        <div class="header-right">
            <a href="../booking/">Booking</a>
            <a href="../crew/">Crew</a>
            <a class="active" href="">Routes</a>
            <a href="../">Schedule</a>
        </div>
    </div>
{% endblock %}

{% block content %}
  <center>
    <h1>Flight List</h1>
    <table>
      <thead>
        <tr>
          <th class="table-header">Flight Code</th>
          <th class="table-header">Flight Type</th>
          <th class="table-header">Origin</th>
          <th class="table-header">Destination</th>
        </tr>
      </thead>
      <tbody>
          {% for flight in flights %}
            <tr>
              <td>{{ flight.flight_code }}</td>
              <td>{{ flight.flight_type }}</td>
              <td>{{ flight.route.origin }}</td>
              <td>{{ flight.route.destination }}</td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </center>
{% endblock %}
