{% extends 'base.html' %}

{% block title %}Scheduled Flights - MagisAir{% endblock %}
{% block styles %}
  {% load static %}
  {% static '/css/schedule.css' %}
{% endblock%}

{% block header %} 
  <div class="header">
    <div class="header-left">
      Magis Air
    </div>
    <div class="header-right">
      <a href="booking/">Booking</a>
      <a href="crew/">Crew</a>
      <a href="routes/">Routes</a>
      <a class="active" href="">Schedule</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <center>
    <h1>Scheduled Flights</h1>

    <form method="get">
      {{ form.as_p }}
      <div class="button-container">
        <button type="submit">Filter</button>
        <a href="../" class="button">Reset</a>
      </div>
    </form>
    <h4>{{ label }}</h4>
  </center>
  
  <table>
    <thead>
      {% for name in column_names %}
        <td>{{ name }}</td>
      {% endfor %}
    </thead>
    {% for instance in flights %}
      <tr>
          <td>{{ instance.flight_code }}</td>
          <td>{{ instance.origin }}</td>
          <td>{{ instance.destination }}</td>
          <td>{{ instance.departure|time:"H:i" }}</td>
          <td>{{ instance.arrival|time:"H:i" }}</td>
          <td>{{ instance.duration }} </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
